<!-- Start Register Form -->
{{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
    {# Dependiendo del flash (Mensaje) recibido, muestra un div #}
    {# TODO: Reducir código #}
    {% for flash_message in app.flashes('verify_email_error') %}
        <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" role="alert">
            <div class="text-danger">
                {{ flash_message }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for flash_message in app.flashes('notify') %}
        <div class="alert alert-light alert-dismissible border-dark-subtle d-flex align-items-center fade show" role="alert">
            <img src="{{ asset('icons/info-circle.svg') }}" class="me-2" width="16" height="16">
            <div>
                {{ flash_message }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" role="alert">
            <div class="text-danger">
                {{ flash_message }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert">
            <div class="text-success">
                {{ flash_message }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="col-md-6">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {% if form_errors(form.email) is not null %}
            <div class="text-danger">{{ form_errors(form.email) }}</div>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{ form_label(form.dni) }}
        {{ form_widget(form.dni) }}
        {% if form_errors(form.dni) is not null %}
            <div class="text-danger">{{ form_errors(form.dni) }}</div>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{ form_label(form.password.first) }}
        {{ form_widget(form.password.first) }}
        {% if form_errors(form.password.first) is not null %}
            <div class="text-danger">{{ form_errors(form.password.first) }}</div>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{ form_label(form.password.second) }}
        {{ form_widget(form.password.second) }}
    </div>
    <div class="col-12">
        {{ form_label(form.photo) }}
        {{ form_widget(form.photo) }}
        {% if form_errors(form.photo) is not null %}
            <div class="text-danger">{{ form_errors(form.photo) }}</div>
        {% endif %}
    </div>
    <div class="col-12">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'placeholder': 'Ingrese una descripción breve sobre ti...'}}) }}
        {% if form_errors(form.description) is not null %}
            <div class="text-danger">{{ form_errors(form.description) }}</div>
        {% endif %}
    </div>
    <div class="col-12">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    {# If you want to control the URL the user is redirected to on success #}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{{ form_end(form) }}
<!-- End Register Form -->