<!-- Start bottom navbar -->
<div class="top-menu-bottom932">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="{{ path('app_post') }}"><img src="{{ asset('image/logo.png') }}" alt="Logo"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"> </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('app_post') }}">Home</a></li>
                    <li><a href="{{ path('app_post') }}">Ask Question</a></li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Question <span class="caret"></span></a>
                        <ul class="dropdown-menu animated zoomIn">
                            <li><a href="{{ path('app_post') }}">Question Category</a></li>
                            <li><a href="{{ path('app_post') }}">HTML</a></li>
                            <li><a href="{{ path('app_post') }}">CSS</a></li>
                            <li><a href="{{ path('app_post') }}">Javascript</a></li>
                            <li><a href="{{ path('app_post') }}">Bootstrap</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"> <a href="{{ path('app_post') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
                        <ul class="dropdown-menu animated zoomIn">
                            <li><a href="{{ path('app_post') }}">Blog </a></li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a href="{{ path('app_post') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Page <span class="caret"></span></a>
                        <ul class="dropdown-menu animated zoomIn">
                            <li><a href="{{ path('app_post') }}"> Login</a></li>
                            <li><a href="{{ path('app_post') }}"> Contact Us</a></li>
                            <li><a href="{{ path('app_post') }}"> Ask Question </a></li>
                            <li><a href="{{ path('app_post') }}"> Post-Details </a></li>
                            <li><a href="{{ path('app_post') }}"> All User</a></li>
                            <li><a href="{{ path('app_post') }}"> User Question </a></li>
                            <li><a href="{{ path('app_post') }}"> Category </a></li>
                            <li><a href="{{ path('app_post') }}"> 404 </a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('app_post') }}">Contact us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!-- End bottom navbar -->