{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# Me traigo el block body de base.html.twig #}
{{ parent() }}

<div class="example-wrapper">
    <h1>Foro ISFT177</h1>
    <p>Agrega un nuevo post</p>
    {{ form(postForm) }}
    <br>
    <hr>
    <br>
    {{ dump(posts) }}

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Título</td>
                <td>Descripción</td>
                <td>Fecha de creación</td>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('postDetails', {id:post.id}) }}">Ver</a></td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.creation_date | date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
