<!-- Start Post Section -->
{% set PostLikes = post.likes | split(',') %}
<article class="pb-mb-3 pt-1 pb-4">
    <h2 class="card-title text-center">{{ post.title | capitalize }}</h2>
    <hr class="my-3">

    <small class="text-muted">{{ post.creationdate | format_datetime('full', 'short') | capitalize }} por
        {% if is_granted('IS_AUTHENTICATED') %}
            <a href="{{ path('userProfile', {id: post.user.id}) }}" class="text-decoration-none">
        {% elseif is_granted('IS_AUTHENTICATED') == false %}
            <a href="#comment" class="text-decoration-none">
        {% endif %}
            {{ post.user.firstname }} {{ post.user.lastname }}</a>
    </small>

    <div class="pt-3 pb-2">
        <p class="">{{ post.description }}</p>
    </div>

{# Likes del Post #}
{#    <div class="my-3" style="..." onclick="meGusta({{ post.id }})" >#}
{#        <i class="fa fa-thumbs-up"></i><strong></strong>#}
{#        {% if app.user.id is defined %}#}
{#            {% if app.user.id in PostLikes %}#}
{#                {{ PostLikes | length - 1 }} likes - Sacar like#}
{#            {% else %}#}
{#                {% if PostLikes | length - 1 == 0 %}#}
{#                    No hay likes - Dar like#}
{#                {% else %}#}
{#                    {{ PostLikes | length - 1 }} likes - Dar like#}
{#                {% endif %}#}
{#            {% endif %}#}
{#        {% endif %}#}
{#    </div>#}

    {% if post.file is not null %}
        <!-- Start Post Image -->
        <img id="post__image" src="{{ asset("uploads/files/#{post.file}") }}" alt="Imagen del post"
             class="mx-auto d-flex pb-3 pb-mb-2"
             data-bs-toggle="modal" data-bs-target="#imageModal">
        <!-- End Post Image -->

        <!-- Start Image Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <img id="post__image-modal" src="{{ asset("uploads/files/#{post.file}") }}" alt="">
                </div>
            </div>
        </div>
        <!-- End Image Modal-->
    {% endif %}
</article>
<!-- End Post Section -->

