<!-- Start Post Section -->
{% set PostLikes = post.likes | split(',') %}
<article class="pb-mb-3 pb-2">
    <h2 class="modal-title">{{ post.title | capitalize }}</h2>
    <p class="text-muted">{{ post.creationdate | date }} by <a href="#">{{ post.user.email }}</a></p>
    <div class="my-3" style="..." onclick="meGusta({{ post.id }})" >
        <i class="fa fa-thumbs-up"></i><strong></strong>
        {% if app.user.id is defined %}
            {% if app.user.id in PostLikes %}
                Te Gustó
            {% else %}
                Dar me Gusta
            {% endif %}
        {% endif %}
    </div>

    {% if post.file is not null %}
        <!-- Start Post Image -->
        <img id="postImage" src="{{ asset("uploads/files/#{post.file}") }}" alt="Imagen del post"
             class="mx-auto d-flex pb-3 pb-mb-2"
             data-bs-toggle="modal" data-bs-target="#imageModal">
        <!-- End Post Image -->

        <!-- Start Image Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <img id="PostImageModal" src="{{ asset("uploads/files/#{post.file}") }}" alt="">
                </div>
            </div>
        </div>
        <!-- End Image Modal-->
    {% endif %}

    <p>{{ post.description }}</p>
</article>
<!-- End Post Section -->

