<!-- Start Posts Container -->
<div class="container-lg">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="card mb-4">
            {{ form_start(postForm) }}
            <div class="row p-3">
                {{ form_errors(postForm) }}
                <div class="col-md-6 my-2">
                    {{ form_widget(postForm.title, {attr:{'placeholder':'Titulo'}}) }}
                </div>
                <div class="col-md-6 my-2">
                    {{ form_widget(postForm.type) }}
                </div>
                <div class="col-md-12 my-2">
                    {{ form_widget(postForm.description, {attr:{'placeholder': '¿Qué quieres contar?'}}) }}
                </div>
                <div class="col-md-12 text-center">
                    {{ form_widget(postForm.file) }}
                </div>
                <div class="col-md-12 mt-3">
                    {{ form_end(postForm) }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-light mb-4">
            Si deseas publicar, por favor
            <a href="{{ path('register') }}">Registrate</a> o
            <a href="{{ path('app_login') }}">inicia sesión</a>
        </div>
    {% endif %}

    {% for post in posts %}
        <article class="post-list__content pe-auto pb-3 ps-0">
            <div class="container-fluid rounded border shadow-sm pt-xl-4 pt-3">
                <div class="row align-items-start">

                    {% if post.file %}
                        <div class="col-3">
                            <a href="{{ path('postDetails', {id: post.id, url: post.url}) }}">
                                <img id="post-list__image" src="{{ asset("uploads/files/#{post.file}") }}"
                                     class="img-thumbnail img-fluid float-md-start w-100" alt="...">
                            </a>
                        </div>
                    {% endif %}

                    <div class="col">
                        <a class="text-decoration-none" href="{{ path('postDetails', {id: post.id, url: post.url}) }}">
                            <h3 class="link-body-emphasis mb-1">{{ post.title | capitalize }}
                            </h3>
                        </a>
                        <p class="text-secondary">{{ post.creation_date | date }} por <a href="#">{{ post.user_username }}</a></p>

                    </div>
                    <hr class="mt-3">
                    <p class="text-truncate">{{ post.description }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
    <div class="navigation d-flex">
        <div class="mx-auto mt-md-2 mt-sm-1">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
</div>
<!-- End Posts Container -->
