{% extends 'post/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/post.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block post_content %}

    {# Me traigo el block body de base.html.twig#}
    {{ parent() }}

    <div class="container-lg">
        <div class="row mt-2 mx-2">
            <div class="col-sm">
                {% include 'post/post.html.twig' with {post: post} %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/post-ajax.js') }}"></script>
{% endblock %}

{% block post_comment_section %}

    <div class="mt-md-4 mb-md-5 mt-3 mb-4">
        <!-- Start Post Comment Input -->
        <div class="row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <!-- Start Post Comment Form -->
                <div class="rounded form-control p-3">

                    <form action="{{ path('commentPost') }}" method="POST">
                        <div class="d-flex mb-3">
                            {% if app.user.photo == NULL %}
                                <img src="{{ asset('image/default_avatar.png') }}" class="post-comment__avatar d-flex flex-row rounded-circle mr-3 me-2">
                            {% else %}
                                <img src="{{ asset("uploads/files/#{app.user.photo}") }}" class="post-comment__avatar d-flex flex-row rounded-circle mr-3 me-2">
                            {% endif %}

                            <textarea class="d-flex flex-row form-control" id="post-comment__textarea" rows="3"
                            placeholder="Ingresa tu comentario..." name="comment" minlength="10" maxlength="255" required></textarea>
                        </div>

                        <div class="d-grid gap-md-2 gap-1 d-md-flex justify-content-md-end">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="hidden" name="post-id" value={{ post.id }}>
                            <input type="hidden" name="user-id" value={{ app.user.id }}>

                            <input type="submit" class="btn btn-primary" value="Comentar">
                            <input type="reset" class="btn btn-light btn-outline-secondary" value="Limpiar">
                        </div>
                    </form>
                </div>
                <!-- End Post Comment Form -->
            {% else %}
                <div class="alert alert-light mb-0">
                    Para comentar, por favor
                    <a href="{{ path('app_register') }}" class="text-decoration-none">Registrate</a> o
                    <a href="{{ path('app_login') }}" class="text-decoration-none">Inicia sesión</a>
                </div>
            {% endif %}
        </div>
        <!-- End Post Comment Input -->

        <!-- Start Post Comment Section -->
        <div class="row pt-md-2 pt-1">
            <div class="justify-content-center align-items-center">

                <div class="pb-1 pt-2">
                    {% if comments == null %}
                        <h4 class="text-center">Se el primero en comentar</h4>
                    {% else %}
                        <h5 class>Comentarios ({{ comments | length }})</h5>
                    {% endif %}

                </div>

                {% if comments != null %}
                <div class="row bg-body border border-1 rounded mt-2 p-1">
                    {% for comment in comments %}
                        <!-- Start Post Comment -->
                        <div class="d-flex flex-row p-3 my-1">
                        {% if is_granted('IS_AUTHENTICATED') %}
                            <a href="{{ path('userProfile', {id: comment.user_id}) }}">
                        {% elseif is_granted('IS_AUTHENTICATED') == false %}
                            <a href="#comment-avatar">
                        {% endif %}
                                {% if comment.user_avatar == NULL %}
                                    <img src="{{ asset('image/default_avatar.png') }}" class="post-comment__avatar rounded-circle mr-2">
                                {% else %}
                                    <img src="{{ asset("uploads/files/#{comment.user_avatar}") }}" class="post-comment__avatar rounded-circle mr-2">
                                {% endif %}
                            </a>

                            <div class="container-fluid">
                                <div class="d-flex justify-content-between pb-1">

                                    <div class="flex-column pe-2">
                                     {% if is_granted('IS_AUTHENTICATED') %}
                                        <a class="flex-column text-dark text-decoration-none fw-medium m-0" href="{{ path('userProfile', {id: comment.user_id}) }}">
                                     {% elseif is_granted('IS_AUTHENTICATED') == false %}
                                        <a class="text-decoration-none text-dark fw-medium m-0" href="#comment">
                                     {% endif %}
                                            <span class="mr-2">
                                                 {{ comment.user_full_name }}
                                            </span>
                                        </a>

                                        <small class="flex-column text-muted">
                                            <img src="{{ asset('icons/clock.svg') }}" class="me-1" alt="Bootstrap" width="10" height="10">
                                            {{ comment.creation_date | format_datetime('medium', 'short') }}
                                        </small>
                                    </div>

                                    {% if app.user.id is defined and app.user.id == comment.user_id %}
                                    <!-- Button trigger modal -->
                                    <a class="flex-column align-content-end text-dark text-decoration-none fw-medium m-0"
                                       data-bs-toggle="modal" data-bs-target="#commentEdit{{ comment.id }}Modal" href="{{ path('userProfile', {id: comment.user_id}) }}">Editar</a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="commentEdit{{ comment.id }}Modal" tabindex="-1" aria-labelledby="commentEdit{{ comment.id }}ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="commentEdit{{ comment.id }}ModalLabel">Editar comentario</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">
                                                    <label for="commentEdit{{ comment.id }}__description" class="form-label">Comentario</label>
                                                    <textarea type="text" class="form-control" id="commentEdit{{ comment.id }}__description"
                                                              minlength="10" maxlength="255" required>{{ comment.comment }}</textarea>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="submit" class="btn btn-primary" onclick="editComment({{ comment.id }})">Guardar Cambios</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>
                                <p class="d-flex flex-row text-justify text-break comment-text mb-0">{{ comment.comment }}</p>
                            </div>
                        </div>
                        <!-- End Post Comment -->
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
        <!-- End Post Comment Section -->
    </div>
{% endblock %}