
<!-- Start Posts Container -->
<div class="col-md-8">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="card mb-4">
            {{ form_start(postForm) }}
            <div class="row p-3">
                <div class="col-md-6 my-2">
                    {{ form_widget(postForm.title, {attr:{'placeholder':'Titulo', 'class':'form-control'}}) }}
                </div>
                <div class="col-md-6 my-2">
                    {{ form_widget(postForm.type, {attr:{'class':'form-control'}}) }}
                </div>
                <div class="col-md-12 my-2">
                    {{ form_widget(postForm.description, {attr:{'class':'form-control', 'placeholder': '¿Qué quieres contar?'}}) }}
                </div>
                <div class="col-md-12 text-center">
                    {{ form_widget(postForm.file, {attr:{'class':'form-control'}}) }}
                    {# {{ form_widget(form.Guardar, {attr:{'class':'my-2 btn btn-success', 'value':'Guardar'}}) }}#}
                </div>
                <div class="col-md-12 mt-3 mb-0">
                    {{ form_end(postForm) }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning mb-4 border-dark-subtle">
            Si deseas publicar, por favor
            <a href="{{ path('userRegistration') }}">Registrate</a> o
            <a href="{{ path('app_login') }}">inicia sesión</a>
        </div>
    {% endif %}

    {% for post in posts %}
    <article class="post-post pe-auto pb-3 ps-0">
        <div class="container-fluid shadow-sm pt-xl-4 p-xl-4 p-md-3 p-3 p-sm-0 rounded border">
            <div class="row align-items-start">

                {% if post.file %}
                <div class="col-3">
                    <a href="{{ path('postDetails', {id: post.id, url: post.url}) }}">
                        <img id="postImage" src="{{ asset("uploads/files/#{post.file}") }}"
                             class="img-thumbnail img-fluid float-md-start w-100 m" alt="...">
                    </a>
                </div>
                {% else %}
                    {# No tiene imagen, entonces no se muestra #}
                {% endif %}

                <div class="col-auto">
                    <a class="text-decoration-none" href="{{ path('postDetails', {id: post.id, url: post.url}) }}">
                        <h3 class="link-body-emphasis mb-1">{{ post.title | capitalize }}
                        </h3>
                    </a>
                    <p class="text-secondary">{{ post.creation_date | date }} por <a href="#">{{ post.user_username }}</a></p>

                </div>
                <hr class="mt-3">
                <p class="b">{{ post.description }}</p>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
<!-- End Posts Container -->
