{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} - {{ post.title }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/post.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

{# Me traigo el block body de base.html.twig #}
{{ parent() }}

    <div class="container-lg">
        <div class="row mt-5">
            <div class="col-sm-8">

                {% include 'post/post.html.twig' with {post: post} %}

                {% include 'post/comment-input.html.twig' %}


            </div>
            <div class="col-sm-4">
                {% include 'post/sidebar.html.twig' %}
            </div>
        </div>
    </div>


{% endblock %}
